.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
}

.text-header {
    font-size: 5rem;
}

.text-paragraph {
    font-size: 2rem;
}