.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
}

.text-header {
    font-size: 5rem;
}

.text-paragraph {
    font-size: 1.5rem;
    margin-bottom: 15px;
}